[Unit]
Description=Huenicorn Philips Hue CLI Tool
After=network-online.target

[Service]
ExecStart=/usr/local/bin/huenicorn
# --- ADD THIS LINE ---
WorkingDirectory=/usr/local/share/huenicorn/webroot
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
